body {
    background-color: #0c0c0c;
}
#main-navigation button.navbar-toggle {
    margin-right: -30px;
}
#brand-image {
    height: 66px;
    width: auto;
    padding: 5px;
}

ul#tabbed_nav {
    margin-top: 20px;
}

div#tabbed_nav_content {
    padding:0px;
}

#title-text h1 {
    text-align: left;
    display: inline-block;
    position: absolute;
    color: white;
    width: 600px;
    font-size: 20px;
    top: 0px;
    font-weight: normal;
}

img#ai-logo {
    position: fixed;
    top: -2px;
    height: 76px;
    z-index: 1;
}

img#boards-footer-logo {
    position: relative;
    top: 5px;
}


img.footer-logo{
	transition: all 500ms ease;
}
img.footer-logo:hover{
	opacity:.5;
}

.container-fluid.footer {
    position: relative;
    border-top: 1px solid #191919;
}

.footer-strip {
    border-top: 1px #191919 solid;
}

a.btn.btn-social-icon {
    margin-right: 0;
    padding-right: 0;
}

a.btn.btn-social-icon i {
    margin-right: 0;
}

.about-image {
    width: 200px;
    height:200px;
    background-size: cover;
    background-position: center center;
    
    border-radius: 100px;
}


@media(max-width: $screen-sm-min) {
    #title-text h1.text-center {
        display: none;
    }
    .about-image {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;    
    }
}

// CSS for the email button.
#wrapper .email {
    height: 50px;
    background-color: $brand-primary;
    width: 200px;
    line-height: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
    border: 1px solid #9e9e9e;
    margin-left: auto;
    margin-right: auto;
    transition: all 200ms ease;
}
#wrapper .email:hover {
    background-color: #3a3a3a;
    border: 1px solid #000000;
    color:white;
}
#content-container #contact-thanks h3.text-center {
    color: black !important;
}
.navbar-header {
	z-index: 9999;
}